<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="/report.css">
</head>
<body>
    <header>Finance Tracker</header>

    <ul>
        <li><a href="/homepage">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div class="container">
        <h2>Enter dates</h2>
        <div class="date-inputs">
            <label for="start-date">Start date</label>
            <input type="date" id="start-date">
            <label for="end-date">End date</label>
            <input type="date" id="end-date">
        </div>
    </div>

    <script>
        



    </script>
</body>
</html>
